.nav {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  /* display: flex; */
  align-items: center;
  padding: 0.25rem;
  margin: 0 0.5rem;
}
.nav ul li a {
  display: block;
  border-radius: 0.5rem;
}
.resume-link {
  background-color: black;
}

.resume-link:hover {
  color: rgb(247, 192, 91);
}

.nav ul li a:not(.active):hover {
  color: #777;
}
