:root {
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-bg: hsl(323 21% 16%);
  --clr-neon-green: #2be709;
  --clr-neon: #0586ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 0 2rem;
  position: sticky;
  top: 0;
}

nav .site-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.site-title:hover {
  color: var(--clr-neon);
}

nav ul {
  display: flex;
  gap: 0.5rem;
}

nav ul.open {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link a:not(.active):hover {
  color: var(--clr-neon);
}

nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.7rem;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #e2e2e2;
  border-radius: 0.2rem;
}

.resume-link {
  background-color: #e2e2e2;
  color: black;
}

.resume-link:hover {
  background-color: rgb(170, 169, 169);
}

.active {
  background-color: rgb(37, 61, 167);
  transition: all 0.3s ease;
}

.active:hover {
  background-color: rgb(25, 39, 107);
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
