:root {
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-bg: hsl(323 21% 16%);
  --clr-neon-green: #2be709;
  --clr-neon: #0586ff;
}

nav {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

nav .site-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  z-index: 20;
}

.site-title:hover {
  color: var(--accent-2);
}

nav ul {
  display: flex;
  gap: 0.5rem;
}

nav ul.open {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.nav-link a:not(.active):hover {
  color: var(--accent-2);
}

nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.7rem;
}

nav .menu span {
  height: 0.25rem;
  width: 100%;
  background-color: #e2e2e2;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}

.resume-link {
  background-color: #e2e2e2;
  color: black;
  width: fit-content;
  margin: auto;
}

.resume-link:hover {
  background-color: rgb(170, 169, 169);
}

.active {
  background-color: var(--secondary);
  transition: all 0.3s ease;
  width: fit-content;
  margin: auto;
}

.active:hover {
  background-color: var(--accent);
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
    z-index: 20;
  }

  nav .menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(12px, 5px);
  }

  nav .menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }

  nav .menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(12px, -5px);
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    z-index: 50;
  }

  nav ul {
    align-items: center;
    background-color: #091941a6;
    backdrop-filter: blur(10px);
    right: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    top: 2.8rem;
    padding: 1rem 0;
    opacity: 0;
    z-index: -10;
  }

  nav ul.open {
    animation: slideLeft 0.4s ease-in-out 1 forwards;
  }

  nav ul.closed {
    animation: slideRight 0.4s ease-in-out 1 forwards;
  }

  @keyframes slideLeft {
    from {
      transform: translateX(-120%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(-120%);
      opacity: 0;
    }
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: auto;
  }
}
