.about-section-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  max-height: 100vh;
}
.about-content {
  text-align: left;
}
.about-section-image {
  max-width: 20vw;
  min-width: 10rem;
  border-radius: 4rem;
}

.linkedin-link-container {
  display: block;
}
.linkedin-link {
  text-decoration: none;
}

.linkedin-logo {
  max-width: 10vw;
}

@media (max-width: 540px) {
  .about-section-container {
    display: flex;
    flex-direction: column;
  }
  .about-section-image {
    align-self: center;
  }
}
