.about-section {
  border: 2px solid var(--accent-2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100dvh;
  max-height: 100dvh;
  align-items: start;
  width: 100vw;
  padding: 2rem 8rem;
  color: var(--text-light);
}

.about-section-heading h2 {
  filter: brightness(140%);
  font-size: 2.5rem;
  margin: 0;
  height: fit-content;
  color: transparent;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  -webkit-text-stroke: 1.5px var(--accent-2);
}

.about-content-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  width: 100%;
}

.about-content li {
  padding-bottom: 1em;
}
.about-content {
  text-align: left;
}
.about-section-image {
  align-self: center;
  object-fit: cover;
  box-shadow: 0 0 1rem rgba(46, 101, 221, 0.527);
  height: 15rem;
  width: 15rem;
  border: 1px solid var(--accent);
  border-radius: 50%;
}

.linkedin-link-container {
  display: block;
}
.linkedin-link {
  text-decoration: none;
}

.linkedin-logo {
  max-width: 2rem;
}

@media (max-width: 540px) {
  .about-section-container {
    display: flex;
    flex-direction: column;
  }
  .about-section-image {
    align-self: center;
  }
}
