.about-section-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.about-section-image {
  max-width: 20vw;
  min-width: 10rem;
}

@media (max-width: 540px) {
  .about-section-container {
    display: flex;
    flex-direction: column;
  }
  .about-section-image {
    align-self: center;
  }
}
