:root {
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-bg: hsl(323 21% 16%);
  --clr-neon-green: #2be709;
  --clr-neon: #0586ff;
}

.contact-section {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}
.contact-section-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: space-around;
  min-width: 80vw;
  margin: 6rem;
}
.contact-section-image {
  max-width: 30vw;
  min-width: 20em;
  border-radius: 2em;
}

.form-container {
  background-color: rgb(69, 201, 245);
  margin: auto;
  display: flex;
  max-width: 60%;
  flex-direction: column;
  text-align: left;
  border: 2px solid black;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px;
  transition: all 0.2s ease-in;
  min-width: 20em;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.form-element input,
textarea {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid black;
  resize: none;
}

.form-button {
  width: 100px;
  padding: 10px;
  margin-left: auto;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid black;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
}

.form-button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-5px) translateY(-5px);
  background-color: var(--clr-neon);
}

@media (max-width: 540px) {
  .contact-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
  }
  .contact-section-image {
    align-self: center;
  }
}
