:root {
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-bg: hsl(323 21% 16%);
  /* --clr-neon-green: #2be709; */
  --clr-neon: #0586ff;
}

.home-section-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  min-width: 70vw;
  margin: 4rem 1rem 1rem 0;
}
.home-list-container {
  display: flex;
  justify-content: center;
}
.home-tag-list {
  font-size: 4rem;
  list-style-type: none;
  text-align: justify;
}

.home-tag-list li {
  opacity: 0; /* Initially hide all list items */
}

.home-tag-list li:nth-child(1) {
  animation: slideAndFade 0.3s forwards;
}

.home-tag-list li:nth-child(2) {
  animation: slideAndFade 0.3s forwards;
  animation-delay: 0.8s; /* Delay for the second list item */
}

.home-tag-list li:nth-child(3) {
  animation: slideAndFade 0.3s forwards;
  animation-delay: 1.6s; /* Delay for the third list item */
}

.home-tag-list li:nth-child(4) {
  animation: slideAndFade 0.3s forwards;
  animation-delay: 2.4s; /* Delay for the last list item */
}

@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.home-section-image {
  max-width: 20em;
  border-radius: 20px;
  padding: 1px;
}

@media (max-width: 600px) {
  .home-section-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 1em 0;
  }
}
.contact-button-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.contact-button-container.show {
  opacity: 1;
}

.contact-button {
  font-size: 3rem;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.contact-button.show {
  opacity: 1;
}

.contact-button::before,
.contact-button::after {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.contact-button.show::before,
.contact-button.show::after {
  opacity: 1;
}

.contact-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.contact-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.contact-button:hover,
.contact-button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.contact-button:hover::before,
.contact-button:focus::before {
  opacity: 1;
}
.contact-button:hover::after,
.contact-button:focus::after {
  opacity: 1;
}
