.project-section {
  padding: 10px;
}
.project-section-heading {
  font-weight: bold;
}
.project-section-container {
  display: flex;
  flex-wrap: wrap;
}
.project-content {
  padding: 20px;
}
.project-image {
  border-radius: 8px;
}
.project-link {
  text-decoration: none;
}
