.project-section {
  padding: 10px;
}
.project-section-heading {
  font-weight: bold;
}
.project-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.project-content {
  padding: 20px;
}
.project-image-container {
  display: block;
}
.project-image {
  border-radius: 8px;
  max-width: 28em;
  padding: 2em;
}
.project-link,
.github-link {
  text-decoration: none;
}

@media (max-width: 600px) {
  .project-image {
    border-radius: 8px;
    max-width: 26em;
    padding: 2em;
  }
}
